h1{
    text-align: center;
}
.container{
    display: flex;
}
.income{
    padding-top: 20px;
    padding-left: 400px;
}
.expense{
    padding-top: 20px;
    padding-left: 120px;
}
.profit{
    padding-top: 20px;
    padding-left: 120px;
}
#input{
    margin-top: 30px;
    margin-left: 450px;
    border-radius: 3px;
}
#button{
    display: flex;
}
.incme{
    margin-top: 30px;   
    margin-right: 5px;
    margin-left: 5px; 
}
.expns{
    margin-top: 30px;
}